form.form-byob {
  display: table;
  border: 1px solid blueviolet;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  color: darkviolet;
}

div.form-byob {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px; 
}
